@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    background-color: rgb(11, 3, 46);
    width: 100%;
    position: fixed;
    z-index: 999px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
}
.logo{
    text-decoration: none;
    color: rgb(246, 247, 244);
    text-transform: uppercase;
    font-weight: 1000;
    font-size: 1.9em;
}
.nav a{
    text-decoration: none;
    color: rgb(236, 236, 234);
    font-size: 1.4em;
    font-weight: 900;
    padding-left: 40px;
}
.nav a:hover{
    color: rgb(165, 248, 11);
}
section{
    padding: 100px 200px;
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/images/pexels-marius-schmidt-3011838.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.main h2{
    color: rgb(247, 245, 243);
    font-size: 1.4em;
    font-weight: 500;
}
.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: rgb(6, 248, 87);
    font-size: 3em;
    font-weight: 600;
}
.main h3{
    color:white;
    letter-spacing: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.main-btn{
    color: aliceblue;
    background-color: rgb(20, 5, 87);
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    padding: 15px 35px;
    letter-spacing: 1px;
    border-radius: 100px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}
.main-btn:hover{
    background-color: rgb(12, 0, 10);
    transform: scale(1.1);
}
.social-icons a{
    color: rgb(253, 252, 251);
    font-size: 1.7em;
    letter-spacing: 30px;
}
.title{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    background-color: rgba(255, 253, 253, 0.979);
    width: 340px;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 20px;
    transition: 0.7s ease;
}
.card:hover{
    transform: scale(1.1);
}
.icon{
    color: rgb(10, 12, 1);
    font-size: 8em;
    text-align: center;
}
.info{
    text-align: center;
}
.info h3{
    color: rgb(1, 1, 20);
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}
.Albums{
    background-color: rgb(11, 3, 46);
    color: white;
}
.Albums.content{
    margin-top: 30px;
}
.project-card{
    background-color: rgb(94, 126, 75);
    border: 5px solid white;
    min-height: 14em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}
.project-card:hover{
    transform: scale(1.1);
}
.project-card:hover .project-images{
     opacity: 3em;

}
.project-images img{
    width: 100px;
}
.project-info{
    padding: 1em;
}
.project-category{
    font-size: 0.8em;
    color: #080000;
}
.project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;

}
.more-detailse{
    text-decoration: none;
}
.more-detailse:hover{
    color: bisque;
}
@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }
    .nav a{
        padding-left: 5px;
    }
    .title{
        font-size: 1.8em;
    }
    .section{
        padding: 80px 20 ;
    }
    .main-content h2{
        font-size: 1em;
    }
    .main-content h3{
        font-size: 1.6em;
    }
    .content{
        flex-direction: column;
        align-items: center;
    }
}
{
    body{
        font-size: 12px;
    }
    .main-content h2{
        font-size: 0.8em;
    }
    .main-content h3{
        font-size: 0.4em;
    }
}
@media(max-width:300px){
    body{
        font-size: 10px;
    }
}
